.site-footer {
    background: #b4caf5; 
    color: white;
    min-height: 120px;
    text-align: center;
}

.site-footer p {
    margin: 0;
}

.footer-caption {
    font-size: 24px;
}

.site-footer span {
    margin: 0 10px;
}

.footer-address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
}

.footer-address div{
    min-width: 400px;
}