include init
title Shop on Node.js
body
include header
main
    div.container
        div.row
            each val, index in goods
                div.card.col-12.col-md-6.col-lg-4.col-xl-3
                    a(href="/goods?id="+index)
                        div.card-body
                            h5.card-title  #{val['name']}
                            img(
                            src='images/'+val['image']
                            class="card-img-top"
                            )
                            <a href="#" class="btn btn-primary">Go somewhere</a>
script(src="js/index.js")
