.site-footer {
    background: #b4caf5; 
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}
.site-footer p {
    margin: 0;
}